* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
}

.container {
  max-width: 1520px;
  margin-left: 20px;
  margin-right: 20px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .container {
    max-width: 1300px;
  }
}
@media (max-width: 1100px) {
  .container {
    max-width: 1000px;
  }
}
@media (max-width: 580px) {
  .container {
    padding: 0 14px;
  }
}
@media (max-width: 800px) {
  .container {
    max-width: 500px;
  }
}

.header__wrap {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 36px;
  color: #BC9CFF;
  font-weight: bold;
  margin-top: -5px;
  width: 100px;
}
@media (max-width: 882px) {
  .header__logo {
    width: 50px;
  }
}
@media (max-width: 838px) {
  .header__logo {
    width: 1px;
  }
}
.header__text-block {
  margin-top: 5px;
  display: flex;
  gap: 150px;
  padding-left: 250px;
}
@media (max-width: 1400px) {
  .header__text-block {
    gap: 25px;
  }
}
@media (max-width: 1100px) {
  .header__text-block {
    gap: 15px;
    position: relative;
    left: -100px;
  }
}
@media (max-width: 882px) {
  .header__text-block {
    gap: 25px;
    left: -70px;
  }
}
@media (max-width: 800px) {
  .header__text-block {
    display: none;
  }
}
.header__text {
  color: #BC9CFF;
  font-size: 14px;
  font-weight: bold;
}
.header__btn-block {
  margin-top: 5px;
  display: flex;
  gap: 60px;
}
@media (max-width: 1400px) {
  .header__btn-block {
    gap: 25px;
  }
}
@media (max-width: 800px) {
  .header__btn-block {
    display: none;
  }
}
.header__burger {
  display: none;
  width: 30px;
  color: #BC9CFF;
}
@media (max-width: 800px) {
  .header__burger {
    display: block;
  }
}
.header__btn {
  background-color: #BC9CFF;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
}

.background {
  background: url(../img/bg-block.png) no-repeat center center/cover;
  height: 100vh;
  margin-top: 20px;
}
@media (max-width: 700px) {
  .background {
    height: unset;
    padding-bottom: 305px;
  }
}

.comm__wrap {
  padding-top: 100px;
  margin-bottom: 100px;
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .comm__wrap {
    width: 400px;
  }
}
@media (max-width: 445px) {
  .comm__wrap {
    width: 300px;
  }
}
.comm__title {
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 50px;
}
.comm__block {
  margin-bottom: 50px;
  background-color: #BC9CFF;
  padding: 10px 10px;
  border-radius: 10px;
}
.comm__sub-text {
  margin-bottom: 20px;
  font-size: 14px;
}
.comm__text {
  font-size: 14px;
}

.footer__wrap {
  margin-top: 100px;
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
}
.footer__long-text {
  width: 300px;
  font-size: 14px;
  color: #8A8A8A;
}
@media (max-width: 1200px) {
  .footer__long-text {
    display: none;
  }
}
.footer__title {
  font-size: 22px;
  font-weight: bold;
}
.footer__text {
  color: #8A8A8A;
  font-size: 22px;
  font-weight: bold;
  line-height: 50px;
}
.footer__textilishe {
  color: #8A8A8A;
  font-size: 17px;
  font-weight: bold;
  width: 310px;
  margin-top: 13px;
  margin-bottom: 10px;
}
.footer__input {
  width: 304px;
  height: 52px;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid gray;
}
.footer__hr {
  margin-top: 40px;
  margin-bottom: 25px;
}
.footer__under {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.footer__logo {
  color: #BC9CFF;
  font-size: 36px;
  font-weight: bold;
}
.footer__sub-text {
  color: #8A8A8A;
  font-size: 16px;
}

@media (max-width: 800px) {
  .fir {
    display: none;
  }
}/*# sourceMappingURL=block.css.map */